[Unit]
Description=MagicCards-Scanner
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/magic-cards
ExecStart=/home/pi/magic-cards/.virtualenv/bin/python /home/pi/magic-cards/scanner/scanner.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
