[Unit]
Description=MagicCards-Server
After=network.target

[Service]
Environment=NODE_ENV=production
Type=simple
User=pi
WorkingDirectory=/home/pi/magic-cards
ExecStart=/usr/local/bin/node /home/pi/magic-cards/server/server.js
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
