* {
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eaebed;
}

.ui.modal .content{
  background-color: #eaebed;
}
